@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply dark:text-white dark:bg-[#121212];
  font-family: 'IBM Plex Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}