// Media query sizes
$linkColor: #d4a52f;
$phone: "screen and (max-width: 767px)"; /* Only phone */
$tablet: "screen and (max-width: 991px)"; /* Phone and tablet */
$laptop: "screen and (min-width: 992px)"; /* Laptop and desktop */
$desktop: "screen and (min-width: 1200px)"; /* Only desktop */

.post-content {
  a {
    position: relative;
  }

  video {
    @apply my-10 rounded-md;
  }

  h1 {
    @apply text-2xl md:text-3xl;
  }

  h2 {
    @apply text-xl md:text-2xl;
  }

  h3 {
    @apply text-xl md:text-xl;
  }

  & > * {
    @apply max-w-[580px] mx-auto;
  }

  & > figure:not(.highlight) {
    max-width: 1020px;
    margin: 40px auto;

    img {
      width: 100%;

      &:not(:first-child) {
        margin-top: 30px;
      }
    }

    figcaption {
      text-align: center;
      font-size: 15px;
      color: #777;
      line-height: 1;
      margin-top: 5px;

      a {
        color: #777;
        text-decoration: underline;
      }
    }

    &.photoset {
      & > .row {
        display: -webkit-flex;
        display: flex;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
        margin: 0 -10px;

        @media #{$phone} {
          -webkit-flex-direction: column;
          flex-direction: column;
          margin: 0;
        }

        .photo-item {
          max-width: calc(100%/3);

          @media #{$phone} {
            max-width: 100%;
          }

          .photo-item-wrap {
            display: -webkit-flex;
            display: flex;
            -webkit-align-items: center;
            align-items: center;
            -webkit-justify-content: center;
            justify-content: center;
            max-height: 300px;
            overflow: hidden;
            margin: 10px;

            @media #{$phone} {
              max-width: 100%;
              max-height: 100%;
              margin: 0;
            }

            img {
              max-width: 420px;
              max-height: 460px;
              width: auto;
            }
          }
        }
      }
    }
  }

  pre {
    @apply bg-gray-100 dark:bg-gray-800 dark:border-gray-700 p-5 w-full break-words rounded-lg border border-gray-200 overflow-auto mb-10 text-sm;

    & > code {
      @apply whitespace-pre-wrap;
    }
  }

  hr {
    @apply mb-10 dark:border-gray-700;
  }

  & > figure.highlight {
    background: #f9f9f9;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 3px;
    font-size: 16px;
    margin-top: 40px;
    margin-bottom: 40px;

    & > pre {
      & > code {
        font-size: 18px;
      }
    }
  }

  & > figure.original {
    text-align: center;

    img {
      max-width: inherit;
      width: inherit;
    }

    &.pull-right {
      float: right;
      margin: 20px 5% 20px 50px;
      max-width: 350px;

      @media screen and (min-width: 1366px) {
        margin: 20px 15% 20px 50px;
      }
    }

    @media #{$phone} {
      margin: 0 auto !important;
      float: none !important;
      max-width: 100% !important;
    }
  }

  & > figure.full {
    max-width: 100%;
  }

  & > blockquote {
    @apply my-10 border-l-2 border-gray-300 pl-5;

    p {
      @apply text-xl;
    }
  }

  .post-excerpt {
    margin: 10px auto 32px auto;
    color: #a0a6ad;
    line-height: 1.3;
    font-size: 33px;

    @media #{$phone} {
      font-size: 24px;
      line-height: 1.3;
    }
  }

  h1, h2, h3, h4, h5, h6 {
    margin: 50px auto 20px auto;
    @apply font-bold leading-tight;
  }

  strong {
    @apply font-semibold text-black dark:text-gray-200;
  }

  p {
    @apply text-[1rem] md:text-[1.05rem] mb-8;

    code {
      @apply font-mono text-sm border border-gray-200 dark:border-gray-800 px-1 py-px rounded-md text-gray-600 dark:text-gray-300 dark:bg-gray-700  shadow-[0_1px_2px_rgba(0,0,0,0.08)] dark:shadow-[0_1px_2px_rgba(0,0,0,0.3)];
    }

    a {
      @apply text-black dark:text-gray-200 underline-offset-[4px] decoration-[1px] underline hover:text-blue-700 dark:hover:text-blue-700;
    }

    img {
      @apply rounded mb-10 overflow-hidden;
    }
  }

  .share {
    text-align: left;
    margin: 100px auto;

    @media #{$phone} {
      text-align: center;
    }

    a {
      margin: 0 20px 0 0;
      font-size: 18px;
      color: #444;
      font-weight: bold;
      border-bottom: 2px solid #ededed;

      &.tweet {
        border-color: #1DA1F2;
        color: #1DA1F2;
      }

      &.fb {
        border-color: #3B5998;
        color: #3B5998;
      }

      @media #{$phone} {
        display: inline-block;
        max-width: 300px;
        margin: 10px;
        font-size: 16px; 
      }
    }
  }

  ol, ul {
    @apply mb-10;

    li {
      @apply text-[1rem] md:text-[1.05rem] list-disc list-outside ml-5 mb-2 ;

      code {
        @apply font-mono text-sm border border-gray-200 dark:border-gray-800 px-1 py-px rounded-md text-gray-600 dark:text-gray-400 shadow-[0_1px_2px_rgba(0,0,0,0.08)] dark:shadow-[0_1px_2px_rgba(0,0,0,0.3)];
      }

      a {
        @apply text-black dark:text-gray-200 underline-offset-[4px] decoration-[1px] underline hover:text-blue-700 dark:hover:text-blue-700;
      }
    }
  }
}